.App-intro {
  font-size: large;
}

.App-whoiam {
  display: inline-block;
  height: 500px;
  width: 100%;
  left: 0px;
  background-color: green;
}

.App-experience {
  display: inline-block;
  height: 500px;
  width: 100%;
  left: 0px;
  background-color: red;
}

.App-contact {
  display: inline-block;
  height: 600px;
  width: 100%;
  left: 0px;
  background-color: #222222;
  text-align: center;
}

.App-contact-input{
  font-size: large;
  height: 40px;
  width: 500px;
  border-radius: 5px;
  display: block;
  border: none;
  background-color: rgba(255,255,255,0.15);
  margin: 10px auto;
}

.App-contact-input input[type="text"]:focus,
.App-contact-input input[type="text"].focus {
  border: solid 2px green;
}

.App-contact-textarea{
  font-size: large;
  height: 150px;
  width: 500px;
  border-radius: 5px;
  margin: 10px auto;
  display: block;
  border: none;
  background-color: rgba(255,255,255,0.15);
}

.App-button {
  background-color: deepskyblue;
  height: 40px;
  width: 80px;
  display: block;
  margin: 10px auto;
  border: none;
  border-radius: 5px;
}

.App-contact-span {
  display: block;
}