.App-header {
  background-color: #222;
  height: 5%;
  width: 100%;
  padding: 20px;
  color: white;
  position: fixed;
}

.App-header-item {
  margin: 20px;
  font-size: large;
  text-decoration: none;
  color: white;
}