.App-img {
  height: 40px;
  width: 40px;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 0px;
}

.App-footer {
  bottom: 0px;
  height: 230px;
  width: 100%;
  display: block;
  background-color: #222222;
}

.App-footer-text {
  font-size: small;
  color: white;
  font-family: Courier New, Courier, monospace;
  display: inline-block;
  text-decoration: none;
}

.App-logo {
  animation: App-logo-spin infinite 10s linear;
  height: 20px;
  display: inline-block;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}