.App-header-lan {
  font-size: large;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.15);
}

.App-header-lan:hover {
  color: rgba(0,191,255,0.75);
}

.App-header-lan-selec {
  font-size: large;
  text-decoration: none;
  color: rgba(0,191,255,0.75);
}