.App-intro {
  font-size: large;
}

.App-whoiam {
  display: inline-block;
  height: 500px;
  width: 100%;
  left: 0px;
  background-color: rgba(233,233,233,1);
}

.App-experience {
  display: inline-block;
  height: 700px;
  width: 100%;
  left: 0px;
  background-color: rgba(56,199,141,1);
}

.App-contact {
  display: inline-block;
  height: 530px;
  width: 100%;
  left: 0px;
  background-color: #222222;
  text-align: center;
}

.App-contact-input{
  font-size: large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 40px;
  width: 500px;
  border-radius: 5px;
  display: block;
  border: rgba(255, 255, 255, 0) solid 4px;
  background-color: rgba(255, 255, 255, 0.15);
  margin: 10px auto;
  color: white;
  padding-left: 1%;
}

.App-contact-input-error{
  font-size: large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 40px;
  width: 500px;
  border-radius: 5px;
  display: block;
  border: darkred solid 4px;
  background-color: rgba(255,255,255,0.15);
  margin: 10px auto;
  color: white;
  padding-left: 1%;
  transition: border 500ms linear;
}

.App-contact-textarea{
  font-size: large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 150px;
  width: 500px;
  border-radius: 5px;
  margin: 10px auto;
  display: block;
  border: rgba(255, 255, 255, 0) solid 4px;
  background-color: rgba(255, 255, 255, 0.15);
  color: white;
  padding-left: 1%;
}

.App-contact-textarea-error{
  font-size: large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 150px;
  width: 500px;
  border-radius: 5px;
  margin: 10px auto;
  display: block;
  border: darkred solid 4px;
  background-color: rgba(255,255,255,0.15);
  color: white;
  padding-left: 1%;
  transition: border 500ms linear;
}

.App-button {
  background-color: deepskyblue;
  height: 40px;
  width: 80px;
  display: block;
  margin: 10px auto;
  border: none;
  border-radius: 5px;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: medium;
}

.App-button:hover {
  background-color: rgba(0,191,255,0.75);
  }

.App-button:active {
  background-color: rgba(0,191,255,0.75);
  transform: translateY(1px);
}

.App-contact-span {
  display: block;
}