.App-body-whoiam {
  display: inline-block;
  height: 500px;
  width: 100%;
  left: 0px;
  background-color: rgba(233,233,233,1);
}

.App-body-experience {
  display: inline-block;
  height: 700px;
  width: 100%;
  left: 0px;
  background-color: rgba(56,199,141,1);
}

.App-body-avatar {
  border-radius: 50%;
  display: inline-flex;
  position: relative;
  margin-top: 80px;
  margin-right: 80px;
  top: 13%;
}

.container {
  margin: 0 auto;
  padding: 40px;
  width: 80%;
  color: #333;
  background: #419be0;
}