.App-logo {
  /*animation: App-logo-spin infinite 20s linear;*/
  height: 40px;
  width: 40px;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 0px;
}

.App-footer {
  position: fixed;
  bottom: 0px;
  height: 80px;
  width: 100%;
  display: block;
  color: black;
}

.App-footer-text {
  font-size: small;
  color: black;
}