.App-header {
  background-color: rgba(34, 34, 34, 1);
  height: 20px;
  width: 100%;
  padding: 20px;
  color: white;
  position: fixed;
  z-index: 1;
}

.App-header-item {
  margin: 20px;
  font-size: large;
  text-decoration: none;
  color: white;
  align-self: center;
  position: relative;
}

.App-menu {
  background-color: rgba(255,255,255,0.15);
  width: 35px;
  height: 35px;
  position: relative;
  left: -28%;
  top: -40%;
}

.App-menu:hover {
  background-color: rgba(71,105,160,1);
}