.App-header-lan-frame {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 5px;
}

.App-header-lan {
  font-size: large;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.15);
}

.App-header-lan:hover {
  color: rgba(0,191,255,0.75);
}

.App-header-lan-selec {
  font-size: large;
  text-decoration: none;
  color: rgba(0,191,255,0.75);
}