.App-header {
  background-color: rgba(34, 34, 34, 1);
  height: 20px;
  width: 100%;
  padding: 20px;
  position: fixed;
  display: flex;
  flex-direction: row;
}

.App-header-menu {
  flex: 5;
}

.App-header-menu-item {
  margin: 20px;
  font-size: large;
  text-decoration: none;
  color: white;
}

.App-header-lan {
  flex: 1;
  margin-right: 10%;
}