* {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.App {
  text-align: center;
}

hr {
   width: 50%; 
   height: 3px; 
   border: 0; 
   box-shadow: 0 10px 10px -10px white inset;
}

.Section-title { 
  flex: 1;
  color: white;
  font-size: 40px;
}

.Section-Text {
  font-size: larger;
  line-height: 130%;
  color: white;
}

.App-contact-send {
  display: block;
  background-color: transparent;
  height: 40px;
  width: 100px;
  border: 2px solid rgba(255, 255, 255, 0.50);
  border-radius: 10px;
  color: rgba(255, 255, 255, 0.50);
  font-size: medium;
  align-self: flex-end;
  transition: all 200ms ease-in;
}

.App-contact-send:hover {
  background-color: white;
  color: rgba(34, 34, 34, 1);
  transition: all 200ms ease-in;
}

.App-contact-send:active {
  transform: translateY(1px);
  transition: all 0ms ease-in;
}

.App-footer-img {
  height: 40px;
  width: 40px;
  margin-right: 10px;
  margin-left: 10px;
  transition: all 200ms ease-in;
}

.App-footer-img:hover {
  transform: scale(1.3, 1.3);
  transition: all 200ms ease-in;
}

.App-footer-logo {
  animation: App-footer-logo-spin infinite 10s linear;
  height: 20px;
  display: inline-block;
}

@keyframes App-footer-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Experience-Detail-More {
  font-size: 20px;
  text-decoration: none;
  display: block;
  width: 100%;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 10px;
  transition: all 200ms ease-in;
  text-align: center;
}

.Experience-Detail-More:hover {
  background-color: white;
  transition: all 200ms ease-in;
}

.Experience-Detail-More > a {
  font-size: 20px;
  text-decoration: none;
  color: white;
  transition: all 200ms ease-in;
}

.Experience-Detail-More:hover > a {
  color: rgba(200,191,231,1);
  transition: all 200ms ease-in;
}

.App-up-btn {
  background-color: transparent;
  height: 7%;
  width: 4%;
  position: fixed;
  bottom: 2%;
  right: 2%;
  border-radius: 5px;
  border: 2px solid transparent;
}

.App-up-btn:hover{
  border: 2px solid rgba(71,105,160,1);
  background-color: rgba(71,105,160,1);
}