.App {
  text-align: center;
}

.App-logo {
  /*animation: App-logo-spin infinite 20s linear;*/
  height: 40px;
  width: 40px;
  margin: 10px;
}

.App-lan-icon {
  height: 25px;
  width: 25px;
  margin: 5px;
}

.App-header {
  background-color: #222;
  height: 60px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.App-footer {
  position: fixed;
  bottom: 0px;
  height: 80px;
  width: 100%;
}

.App-header-item {
  margin: 20px;
  font-size: large;
}

.App-footer-text {
  font-size: large;
  color: black;
}

/*@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}*/
