* {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.App {
  text-align: center;
}

hr {
   width: 50%; 
   height: 3px; 
   border: 0; 
   box-shadow: 0 10px 10px -10px white inset;
}

.Section-title { 
  flex: 1;
  color: white;
  font-size: 40px;
}

.Section-Text {
  font-size: 20px;
  line-height: 130%;
  color: white;
}

.Error-label {
  color: red;
  align-self: flex-start;
  margin-top: 1%;
  margin-bottom: 5px;
  margin-left: 5px;
}