.Experience {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(200,191,231,1);
}

.Slider-content {
  flex: 1;
  color: #333;
  width: 80%;
  padding: 4%;
}