.App-up-btn {
  background-color: transparent;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  border-radius: 5px;
  border: 2px solid transparent;
}

.App-up-btn:hover{
  border: 2px solid rgba(71,105,160,1);
  background-color: rgba(71,105,160,1);
}