.Whatido {
  display: flex;
  flex-direction: column;
  background-color: rgba(67,207,176,1);
  justify-content: center;
}


.Whatido-Detail-List {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-block-start: 5%;
  margin-block-end: 5%;
}

.Whatido-Detail-List-img {
  height: 100px;
  height: 100px;
}

.Whatido-Detail-List-Item {
  margin-left: 5%; 
  margin-right: 5%; 
  width: 30%;
}

.Whatido-Detail-List-Item > h2 {
  font-size: 26px;
  line-height: 130%;
  color: white;
}