.Whoiam {
  display: flex;
  flex-direction: column;
  background-color: rgba(252,110,81,1);
  justify-content: center;
}

.Whoiam-Detail {
  flex: 3;
  display: flex;
  flex-direction: row;
}

.Whoiam-Detail-Avatar{
  margin: 5%;
}